<h1>Create a Song</h1>

<%= form_for @song  do |song_builder| %>

  <%= song_builder.label :title %>
  <%= song_builder.text_field :title %>
  <br></br>

  <%= song_builder.label :artist_name %>
  <%= song_builder.text_field :artist_name %>
  <br></br>


  <%= song_builder.collection_select :genre_id, Genre.all, :id, :name, {:prompt => 'Please select a genre'}%>
  <br></br>

  <%= song_builder.fields_for :notes do |note_builder| %>
    <%= note_builder.label :note%>
    <%= note_builder.text_field :content %>
    <br></br>
  <% end %>
  
  <%= song_builder.submit %>

<% end %>
